body {
    width: 360px;
    max-height: 640px;
    margin: 10px auto;
    background-color: gainsboro;
}

svg {
    margin: 30px auto !important;
}

.link {
    position: absolute;
    bottom: 200px;
    width: 200px;
    height: 40px;
    left: 80px;
}