svg {
    margin: 30px auto !important;
}

.main > img {
    width: 360px;
}

img.small {
    width: 328px;
}

.link {
    position: absolute;
    top: 668px;
    width: 176px;
    height: 38px;
    left: 93px;
}

#segundo {
    top: 864px;
}

#tercero {
    top: 1056px;
}

#cuarto {
    top: 1251px;
}

#quinto {
    top: 1474px;
}