svg {
    margin: 30px auto !important;
}

.main > img {
    width: 360px;
    margin-top: 59px;
}

img.small {
    width: 328px;
}

.link {
    position: absolute;
    top: 608px;
    width: 176px;
    height: 38px;
    left: 93px;
}

#segundo {
    top: 803px;
}

#tercero {
    top: 996px;
}

#cuarto {
    top: 1191px;
}

#quinto {
    top: 1411px;
}