
.header-email {
    position: relative;
}

.header-email img {
    width: 360px;
}

.header-email .karenRossi {
    position: absolute;
    left: 5px;
    top: 63px;
    width: 331px;
    height: 19px;
    color: rgba(0,0,0,0.87);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.header-email .torre {
    position: absolute;
    left: 52px;
    top: 114px;
    width: fit-content;
    height: fit-content;
    color: rgba(0,0,0,0.87);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.content-email {
    position: relative;
    width: 360px;
    padding-bottom: 8px;
    background-color: white;
    margin: auto;
}

.content-email img {
    width: 338px;
}

.connect {
    position: absolute;
    width: 137px;
    height: 36px;
    bottom: 94px;
    left: 112px;
}

.text {
    margin: auto;
    display: block;
}