span {
    margin: 25px 15px;
    width: fit-content;
}

.appbar {
    position: relative;
}

.appbar a {
    position: absolute;
    width: 105px;
    height: 30px;
    display: block;
    top: 69px;
    right: 16px;
}

.img {
    margin: 15px auto !important;
}

.img.center {
    width: 328px;
}