span {
    margin: 25px 15px;
    width: fit-content;
}

.appbar {
    position: relative;
}

.appbar a {
    position: absolute;
}

.img {
    margin: 15px auto !important;
}

.img.center {
    width: 328px;
}