.main > img {
    width: 328px;
    border-radius: 5px;
}

.link {
    position: absolute;
    top: 310px;
    left: 94px;
    width: 173px;
    height: 38px;
}

.small-link {
    position: absolute;
    top: 261px;
    left: 227px;
    width: 84px;
    height: 35px;
}

#segundo-small {
    top: 413px;
}

#tercer-small {
    top: 566px;
}

#segundo {
    top: 806px;
}

#tercero {
    top: 1000px;
}

#cuarto {
    top: 1194px;
}

#quinto {
    top: 1414px;
}